<h1>Agregar nueva sucursal</h1>

<form #formSucursal="ngForm" (ngSubmit)="onSubmit(); formSucursal.reset()">
    <label>Nombre:</label>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="sucursalnueva._nombre" required>
    <span class="red" *ngIf="nombre.touched && !nombre.valid">
        El nombre es incorrecto o está vacío.
    </span>
    <br/>
    <label>Lugar:</label>
    <input type="text" name="lugar" #lugar="ngModel" [(ngModel)]="sucursalnueva._lugar" required>
    <span class="red" *ngIf="lugar.touched && !lugar.valid">
        El lugar es incorrecto o está vacío.
    </span>
    <br/>

    <label>Teléfono:</label>
    <input type="tel" name="tel" #tel="ngModel" [(ngModel)]="sucursalnueva._telefono" required pattern="[0-9()-]+">
    <span class="red" *ngIf="tel.touched && !tel.valid">
        El teléfono es incorrecto o está vacío.
    </span>
    <br/>

    <input type="submit" value="Crear" [disabled]="!formSucursal.form.valid">
</form>


