<h2>Sucursales</h2>
<p *ngIf="(this.sucursalesServicio.listadoSucursales && this.sucursalesServicio.listadoSucursales[1]) && (this.sucursalesServicio.listadoSucursales[1].getVentasMes(1) > 100)">
    Las ventas de Enero de la Sucursal Norte son altas
</p>
<table>
    <thead>
        <tr>
            <th>Indice</th>
            <th>Sucursal</th>
            <th>Lugar</th>
            <th>Ventas Enero</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sucursal of this.sucursalesServicio.listadoSucursales; let i = index">
            <td>{{ i }}</td>
            <td>{{ sucursal.nombre }}</td>
            <td>{{ sucursal.lugar }}</td>
            <td>{{ sucursal.getVentasMes(1) }}</td>
        </tr>
    </tbody>
</table>
<br/>
<button (click)='this.sucursalesServicio.listadoSucursales[1].setVentasMes(200, 1)'>Incrementar ventas de Enero para la sucursal Norte</button>
<br/><br/>
<button (click)='this.sucursalesServicio.listadoSucursales[1].setVentasMes(50, 1)'>Decrementar ventas de Enero para la sucursal Norte</button>
<hr>
<!-- Dado la variable var estado = 1-->
<h3>Evaluación de las ventas de Enero de la Sucursal Norte</h3>
<div [ngSwitch]="this.sucursalesServicio.listadoSucursales[1].getVentasMes(1)">
    <p *ngSwitchCase="50">Ventas Bajas</p>
    <p *ngSwitchCase="200">Ventas Altas</p>
    <p *ngSwitchDefault>Ventas regulares</p>
</div>
